<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crudlandia.mappers.ExemploMapper">

	<select id="listagemExemplo" resultType="com.crudlandia.dtos.ExemploDTO">
        select 
			ex.id,
			ex.referencia_id as referenciaId,
			ex.nome,
			ex.descricao,
			ex.sequencia,
			ex.valor,
			ex.peso,
			ex.dthr_emissao as dthrEmissao,
			ex.status,
			ex.ativo
        from exemplos ex
        where ex.dthr_emissao <![CDATA[ >= ]]> #{dthrInicio}
        and ex.dthr_emissao <![CDATA[ <= ]]> #{dthrFim}
        
        <if test="nome != null">
            and ex.nome like CONCAT('%', #{nome}, '%')
        </if>
        
        <if test="status != null">
            and ex.status = #{status}
        </if>
        
        <if test="columnType != null">
            order by ${columnType} ${orderType}
        </if>
            
    </select>
    
</mapper>